body {
    min-width: 800px;
    max-width: 1200px;
    background-color:white;
    margin-top: 40px;  
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {
    padding-top: 40px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 800px;
    height: 250px;
    margin-left:auto;
        margin-right:auto;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
      
}
#banner {
    width: 800px;
    height: 200px;
    background-color:#252525;
    margin-left:auto;
        margin-right:auto;
        text-align: center;
        border-radius: 30px;
}
#box1  {
    background-color:#3f3f3f;
    width: 200px;
    height: 50px;
    color: #fff;
    
    transition-property: width;
    transition-duration: 3s;
    border-radius: 30px;
}
#box1:hover{
    width: 500px;
    cursor: pointer;
}

#box2  {
    background-color:rgb(192, 192, 192);
    width: 200px;
    height:90px;
    opacity: 40%;
    transition-property: width;
    transition-duration: 3s;
    border-radius: 50px;
}
#box2:hover{
    width: 600px;
    cursor: pointer;
}
#box3  {
    background-color:rgb(104, 102, 99);
    width: 200px;
    height: 60px;
    transition-property: width;
    transition-duration: 3s;
    animation-name: animate;
    animation: animate 5s linear infinite;
    animation-delay: 0s;
    border-radius: 30px;
}

@keyframes animate {
    0% {
        background-color: rgb(104, 102, 99);
    }
    50% {
        background-color: rgb(185, 183, 183);
    }
    0% {
        background-color: rgb(104, 102, 99);
    }

}
#box3:hover{
    width: 800px;
    cursor: pointer;
}
main {
    display: flex;
    background-color: whitesmoke;
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    text-align: justify;
    justify-content: space-between;
    margin-top: 120px;
    padding-top: 20px;
    border-radius: 25px;
}
ul {
    list-style-type: none;
padding-right: 40px;

}

a {
    text-decoration: none ;
    color: rgb(116, 114, 114);
    opacity: 70%;
    line-height: 150%;
}

footer {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    
}

li:hover a{
    color: black;
    opacity: 60%;
}

h2 {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 50px;
    opacity: 70%;
}

footer {
    margin-top: 30px;
    padding-bottom: 15px;

}

footer a:hover {
    
    font-weight: bold;

    
}

footer a {
color:grey;
font-size: x-small;

}
