*{
    max-width: 1366px;
    max-height: 768px;
}
img{
    width:600px;
    height:auto;
    margin-left: 50px;
    margin-top: 15%;
    padding-left: 100px;
}

main{
    display: flex;
    flex-direction: row;
}

form {
    margin-top: -100px;
    display: flex;
   flex-direction: column;
   font-size: 20px;
margin-right: 350px;
font-family: 'Potta One', cursive;
}
input {
    
    width: 280px;
}

body {
   /*  background-image: url("images/egg1.png");
    background-repeat: no-repeat; */
    max-width: 1366px;
    max-height: 768px;
    margin-left: auto;
    margin-right: auto;
}

article {
    justify-content: center;
    margin-left:300px;
    margin-right: 30px;
font-size: 26px;
font-family: 'Potta One', cursive;
}


label {
  padding: 10px;
}

input {
    height: 15px;
    padding-bottom: 5px;
    border-radius: 20px;
   border-style: solid;
   border-width: 2px;
   border-color: darkgray;

}


h1 {
    margin-left: 250px;
    margin-top: 150px;
    font-size: 40px;
    margin-bottom: 0;
    font-family: 'Potta One', cursive;
    max-width: 500px;
}

button {
    margin-top: 30px;
    height: 40px;
    font-family: 'Potta One', cursive;
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
 border-style: solid;
 border-width: 2px;
    
}

footer {
  position: absolute;
    bottom: 0;
 padding-bottom: 100px;
    margin-top: 40px;
    margin-left: 1000px;
    display:flex;
    justify-content: center;
    margin-top: 30px; 
    max-width: auto;
}

a {
    text-decoration: none;
    margin-left: 30px;
    color:black;
    font-family: 'Potta One', cursive;
    white-space: nowrap;
    
}

a:hover {
    color: grey;
}
main {
    margin-top: 0;
}